body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: #2E2C2F;
}

section {
    text-align: center;
}

.game-title {
    font-size: 5em;
    color: #BACDB0;
    margin: 10px auto;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #2E2C2F;
    color: #729B79;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #475B63; 
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game-status {
    font-size: 3em;
    color: #BACDB0;
    margin: 20px auto;
}

.game-restart {
    background-color: #2E2C2F;
    width: 200px;
    height: 50px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2em;
    color: #729B79;
    border: 2px solid #475B63;
}